<h1>Homes#index</h1>

        <div class="container mb-5">
              <%= link_to 'Registrate porfa', new_user_registration_path ,class:"btn  text-white rounded-pill "  ,style:"background-color:#2EA043" %>
        </div>
        <div class="container mb-5">
              <%= link_to 'Inicia Seccion', user_session_path ,class:"btn  text-white rounded-pill "  ,style:"background-color:#2EA043" %>
        </div>

<p>Find me in app/views/homes/index.html.erb</p>
